@font-face {
    font-family: sinoreta;
    src: url(sinoreta/Sinoreta_PERSONAL_USE_ONLY.otf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: black no-repeat center/cover url(./images/vinho-e-taças.jpg);
    min-height: 100vh;
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
}
.menu{
    background: rgba(123, 114, 138, 0.9);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 80px;
    width: 500px;
    height: 500px;
    margin: 10vh;
}

.title {
    font-family: 'WindSong', cursive;
    text-align: center;
}

.wine {
    padding: 20px;
    font-size: 50px;
    color: whitesmoke;
}

.user {
    display: flex;
    justify-content: center;
    
}

.fa-user{
    color: white;
    font-size: 30px;
    
}

.login {
    display: grid;
    place-items: center;
    margin-top: 40px;
    padding: 25px;
}

input {
    font-size: 25px;
    
}

button {
    display: flex;
    font-size: 25px;
    margin-top: 5vh
}

.crie {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
